h1, h2 {
	font-family: Verdana;
	text-align: center;
}

.hidden {
	display: none;
}

footer {
	font-family: Verdana;
	text-align: center;
}

p {
	font-family: Courier;
}

#charts {
	display: flex;
	flex-flow: row;
	padding: 5px 
}

#charts > div {
	border: 2px solid black;
	border-radius: 20px;
	margin: 5px;
	padding: 10px;
}